#tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: red;

  }

  
  .am-tab-bar-bar .am-tab-bar-tab-title:active{
    color: green;
  }

